/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.sidebar > .sidebar-links > li > a.sidebar-link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar > .sidebar-links > li:not(:first-child){
  margin-top: 0 !important;
}

html,
body,
#app,
.theme-container{
  height: 100%;
}

main.home{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.theme-default-content.custom{
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

@keyframes douyidou{
  0%{
    transform: rotate(-15deg);
  }
  25%{
    transform: rotate(0);
  }
  50%{
    transform: rotate(15deg);
  }
  75%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(-15deg);
  }
}

.navbar .logo{
  animation: douyidou 1s linear infinite;
}

// 定义图片大小
img[alt='user snippets 1']{
  width: 200px;
}

img[alt='user snippets 2']{
  width: 600px;
}

img[alt='插入小程序或H5的弹窗']{
  width: 300px;
}

img[alt='css_01']{
  width: 250px;
}

img[alt='定义好参数的动态值名称'],
img[alt='选择snippets快速生成测试脚本']{
  width: 400px;
}

img[alt='执行请求']{
  width: 600px;
}

img[alt='测试结果']{
  width: 500px;
}

img[alt='pj-cli']{
  width: 400px;
}

img[alt='碰撞球'],
img[alt='旗帜']{
  width: 400px;
}