// 主页
@media (min-width: 768px) {
  .VPNav .VPNavBar .wrapper {
    padding: 0 24px;
  }
}

@media (min-width: 640px) {
  .container[class] {
    padding: 0 2rem;
  }
}

.VPContent .VPHome {
  margin-bottom: 0;
}

// logo动画
@keyframes shake {
  0% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.logo {
  animation: shake 1s linear infinite;
}

// 主题变更
@media (prefers-color-scheme: dark) {
  :root:where(.dark) {
    img { 
      // 调整图片透明度
      opacity: 0.8;
      // 调整透明图片背景
      background-color: rgba(50, 50, 50);
    }
  }
}

// 控制图片大小
img[alt='user snippets 1'] {
  width: 200px;
}

img[alt='css_01'] {
  width: 250px;
}

img[alt='插入小程序或H5的弹窗'] {
  width: 300px;
}

img[alt='定义好参数的动态值名称'],
img[alt='选择snippets快速生成测试脚本'],
img[alt='pj-cli'],
img[alt='碰撞球'],
img[alt='旗帜'],
img[alt='倒计时'] {
  width: 400px;
}

img[alt='测试结果'] {
  width: 500px;
}

img[alt='user snippets 2'],
img[alt='执行请求'] {
  width: 600px;
}
